.hbox{
	-fx-border-style: solid inside;
	-fx-border-width:1;
	-fx-border-color: gray;
}
.vbox-border-menu{
	-fx-background-color: #E8E8E8;
	-fx-border-style: solid inside;
	-fx-border-width:1;
	-fx-border-color: #989898;
}